body {
    background-color: #000000;
    margin: 0;
    cursor: default;
    overflow: hidden;
}


.element {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: default;

    background: -webkit-radial-gradient(circle, rgba(200,200,255,1),rgba(200,200,255,0));
}

.elementClose {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: default;

    background: -webkit-radial-gradient(circle, rgba(200,200,255,0.5),rgba(200,200,255,0));
}
