body {
    background-color: #000000;
    margin: 0;
    cursor: default;
    overflow: hidden;
}


.element {
    width: 24px;
    height: 24px;
    background: url("../textures/snowflake_24.png");
}


